name: CI
on:
  push:
    tags:
      - 'v*'
      - '@vuetify/auth@*'

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: github.repository_owner == 'vuetifyjs'
    permissions:
      contents: write
      id-token: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Set node
        uses: actions/setup-node@v4
        with:
          node-version: lts/*
          cache: pnpm
          registry-url: 'https://registry.npmjs.org'

      - name: Install
        run: pnpm install

      - name: Build
        run: pnpm build
        env:
          VITE_API_SERVER_URL: https://api.vuetifyjs.com

      - name: Update NPM
        run: npm install -g npm@latest

      - name: Publish to NPM (all packages)
        if: startsWith(github.ref, 'refs/tags/v')
        run: pnpm -r publish --access public --no-git-checks

      - name: Publish to NPM (auth only)
        if: startsWith(github.ref, 'refs/tags/@vuetify/auth@')
        run: pnpm --filter @vuetify/auth publish --access public --no-git-checks

      - name: GitHub release
        if: startsWith(github.ref, 'refs/tags/v') || startsWith(github.ref, 'refs/tags/@vuetify/auth@')
        run: npx changelogithub
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
